MCP_SERVER_NAME=NetSuite SuperMCP
MCP_SERVER_VERSION=0.1.7
MCP_HOST=127.0.0.1
MCP_PORT=3025
MCP_BEARER_TOKEN=change-me-token-please
NETSUITE_ACCOUNT_ID=1234567_SB1
NETSUITE_ENVIRONMENT=sandbox
NETSUITE_BASE_URL=https://1234567-sb1.suitetalk.api.netsuite.com
NETSUITE_RESTLET_URL=https://1234567-sb1.restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=customscript_supermcp_action&deploy=customdeploy_supermcp_action
NETSUITE_OAUTH_FLOW=authorization_code
NETSUITE_AUTHORIZATION_URL=https://1234567-sb1.app.netsuite.com/app/login/oauth2/authorize.nl
NETSUITE_CLIENT_ID=change-me
NETSUITE_CLIENT_SECRET=change-me
NETSUITE_REDIRECT_URI=https://127.0.0.1:3026/oauth/callback
NETSUITE_REFRESH_TOKEN=
NETSUITE_CONSUMER_KEY=change-me
NETSUITE_CERTIFICATE_ID=change-me
NETSUITE_PRIVATE_KEY_PEM_BASE64=base64-pem-here
NETSUITE_TOKEN_URL=https://1234567-sb1.suitetalk.api.netsuite.com/services/rest/auth/oauth2/v1/token
AUDIT_LOG_PATH=./data/audit.ndjson
